body,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Logo cabecera*/

.box .logoCabezera{
    margin: 0px;
    padding: 0px;
    background-color: whitesmoke;
    overflow: hidden;
    display:flex;
    align-items: center;
}
.box .logoCabezera a {
    display: inline-block;
    list-style: none;
    padding: 15px;
    transition: all ease-in-out .2s;
    width: 400px;
}
.box .logoCabezera a img{
    width: 200px;
    margin: 5px;
    margin-left: 100px;
}

/*Barra de Busqueda Cabecera*/

#search_box{
    margin-left: 10%;
    margin-right: 10%;
    height: 40px;
    width: 800px;
    padding-left: 10px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    font-weight: 600;
}

/*Icono Login + Div Flotante*/

.login-form{
    visibility: hidden;
    opacity: 0;
}

.login-form.active{
    visibility: visible;
    opacity: 1;
}

.iconoLogin {
    height: 40px;
    width: 40px;
    margin: 10px;
}
.login-form{
    padding: 25px;
    width: 350px;
    border-radius: 10px;
    margin-left: auto;
    background: #555b5f;
    text-align: center;
    position: relative;
    transition: all ease-in-out .2s;
    float: right;
}
.login-form h1{
    margin-top: 0;
    color: white;
}


#login_list{
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
}
#login_list .txt{
    height: 25px;
    width: 250px;
    margin-bottom: 10px;
    padding: 3px 2px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
}
#login_list h6{
    margin-bottom: 10px;
    padding: 3px 2px;
    font-size: 20px;
    border-radius: 5px;
    text-align: center;
    color: white;
}
#login_list p{
    font-size: 20px;
    color: white;
}
#login_list .button{
    width: 150px;
    height: 30px;
    font-size: 20px;
    border-radius: 30px;
    border: none;
    background: #ffeb3be6;
    cursor: pointer;
}

/* Barra de opciones bajo la cabecera*/

.navs{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(87, 84, 84);
}

.nav {
    float: left;
    margin-left: 8%;
}

.nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav a:hover {
    background-color: #111;
}

/* contenedores formularios */

.conter1{
    border-radius: 0.25rem;
    border: 1px solid #dee2e6;
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}
.conter2{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba (0,0,0,.125);
    border-radius: 0.25rem;
    flex: 0 0 100%;
    max-width: 100%;
}
.conta-cabe{
    padding:0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, .03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.conta-cabe h3{
    text-align: center;
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 1rem;
    color: #666;
    margin: 0;
}
.conte-cuer{
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}
.conte-div{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.grid-g{
    display: grid;
    grid-template-columns: 610px 610px;
    grid-template-rows: 100px 100px;
}
.col-md-6{
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.col-md-12{
    flex: 0 0 100%;
    max-width: 920px;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.col-md-4{
    flex: 0 0 33.333%;
    max-width: 33.333%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.form-control{
    display: block;
    width: 100%;
    height: calc(1.5rem + 0.75rem + 2px);
    padding: 0.378rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
label{
    display: inline-block;
    margin: 0.5rem;
    cursor: default;
}
select{
    word-wrap: normal;
}
button, select{
    text-transform: none;
}
button, input{
    overflow: visible;
    text-transform: none;
}
button,input, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
option{
    font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}
.conte0{
    max-width: 960px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
textarea.form-control{
    height: auto;
}
textarea{
    width: 1000px;
    overflow: auto;
    resize: vertical;
}
.btn{
    cursor: pointer;
    color: #f8f9fa;
    padding-left: 3rem;
    padding-right: 3rem;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
    background-color: #25a745;
    border-color: #28a745;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    border: 1px;
}

/* Contenedores Marca */

.cue-mar{
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
.di-cen{
    margin-left: 10%;
    margin-right: 10%;
}
.cue-mar2{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    padding: 1rem;
    
}
.col-md-2{
    flex: 0 0 14.3%;
    max-width: 14.3%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.mar{
    border-radius: 1rem ;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgb(73, 70, 70);
}
.img-mar{
    display: inline-block;
    max-width: 100%;
    height: auto;
    border-radius: 1rem;
    vertical-align: middle;
    border-style: none;
}.mai1{
    display: block;
}
/* estrellas de votacion de todos los productos */
.estre{
    width: 180px;
    height: 50px;
}

.estre.clasi{
    text-align: left;    
}
.estre.r{
    font-size: 20px;
}
input[type="radio"]{
    display: none;
}
.r{
    color: grey;
}
.clasi{
    direction: rtl;
    unicode-bidi: bidi-override;
}
.r:hover,.r:hover ~ .r{
    color: orange;
}
input[type="radio"]:checked ~ .r{ /* el ~ jala todos los valores siguientes */
    color: orange;
}

.centrada{
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 5%;
    margin-left: 5%;
}
.col-lg-9{
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
.col-md-3{
    margin-left: 10%;
    margin-right: 10%;
}
.conte3{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    padding: 1rem;
}
.conte4{
    border: 1px solid rgb(63, 62, 62);
    border-radius: 1rem;
    max-width: 200px;
    max-height: 450px;
    margin: 5px;
}
.a-img-o{
    display: block;
    position: relative;
    text-align: center;
}
.img-o{
    width: 300px;
    border-radius: 1rem 1rem 0 0;
    border-style: none;
    max-width: 100%;
}
.c-d-pro{
    padding: 5px;
    background-color: #fff;
    overflow: hidden;
    position: relative;
    transition: all .3s linear;
    border-radius: 0 0 1rem 1rem;
}
.txt-h4{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0;
    color: #000;
    margin: 0;
}

.h-a{
    min-height: 40px;
    margin-left: 1.5px;
    margin-right: 1.5px;
    max-height: 40px;
    font-size: 16px;
    text-transform: capitalize;
    color: #000;
    transition: all .3s linear;
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
}

.c-s{
    font-weight: 700;
    text-align: center;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    line-height: 1.2;
    color: rgb(24, 24, 180);
}

.txt-cs{
    text-align: center;
    margin: 0;
    color: rgb(24, 24, 180);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.b-o{
    font-weight: bolder;
}
.d-btn{
    text-align: center;
    margin-bottom: 1rem;
}
.btn-o{
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    background-color: rgb(24, 24, 180);
    padding: 8px;
    border-radius: 0.7rem;
    margin-right: 8px;
    display: inline-block;
}

.i-cuerpo{
    display: block;
}
.conte-f{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.r-r{
    display: grid;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    padding-top: 1rem;
    grid-template-columns: 850px 1200px ;
    grid-template-rows: 600px 0px ;
    margin-right: 5%;
    margin-left: 5%;

}
.col-8{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.col-4{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.a-i-index{
    width: 100%;
    background-color: transparent;
    display: block;
}
.img-index{
    width: 100%;
    border-radius: 1rem;
    vertical-align: middle;
    border-style: none;
    max-width: 100%;
}
.sb{
    overflow: hidden;
    position: relative;
    width: 33.3%;
}
.mt{
    margin-top: 1.5rem;
}
.a-index{
    display: block;
    background-color: transparent;
}
.img2-index{
    width: 100%;
    border-radius: 1rem;
    vertical-align: middle;
    border-style: none;
    max-width: 100%;
}
.medi{
    overflow: hidden;
    position: relative;
    width: 66.6%;
    width: 821px;
}

.img3-index{
    border-radius: 1rem;
    vertical-align: middle;
    border-style: none;
    max-width: 100%;
}

.a-in{
    display: inline-block;
}
.sdd{
    position: relative;
    width: 100%;
    padding: 0.25rem;
    flex: 0 0 32%;
    max-width: 32%;
}
.fxd{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.conte-3-img{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.conte30{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 1rem;
    padding-left: 28px;
    padding-right: 28px;
}
.conte3-0{
    display: flex;
    flex-wrap: wrap;
}
.cat-mdd{
    display: flex;
    flex-wrap: wrap;
    margin-right: 2%;
    margin-left: 2%;
}
.mov{
    position: relative;
    width: 100%;
    margin-right: 15px;
    margin-left: 15px;
}
.space1{
    max-width: 20%;
}
.space2{
    max-width: 75%;
}
.search-pequeño{
    margin-left: 10%;
    margin-right: 10%;
    height: 30px;
    width: 300px;
    padding-left: 10px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    font-weight: 600;
}
.f-area{
    display: block;
}
.conte37{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.conte38{
    display: flex;
    flex-wrap: wrap;
}
.col-lg-12{
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
}
.f-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.f-copy{
    text-align: center;
    padding-top: 14px;
    padding-bottom: 28px;
}
.f-f{
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #666;
    margin: 0;
}
.a-f-f{
    display: inline-block;
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}
.titulo-ban{
    display: inline-block;
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}
.f-titulo{
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 0;
    letter-spacing: 0;
    position: relative;
    padding-bottom: 5px;
    color: blue;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    line-height: 1.2;
    font-family: Poppins;
    margin: 0;
}
.ll{
    margin-top: 0;
    margin-bottom: 1rem;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.h-index{
    border-bottom: 1px solid gray;
    font-size: 2rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    margin: 0;
    margin-top: 50px;
    display: inline-block;
    color: blue;
}
.maps-form{
    width: 100%;
    height: 500px;
    border: 1px solid black;
    border-radius: 1rem;
    margin-bottom: 5%;
    margin-top: 5%;
}
.mai0{
    margin-top: 2%;
}